<%- include("../../partials/admin/header_administrador.ejs") -%>
<section class="w-100" style="background-color: rgb(240, 240, 240)">
  <div class="p-5" style="height: 1px; background: rgb(0, 4, 41)"></div>

  <div class="container px-4 py-1">
    <form class="p-1 p-md-4" id="formNuevoDoctor">
      <div class="m-2 fw-bold d-flex justify-content-center border-bottom">
        <p class="fs-5">
          <img src="/img/inicio_sesion/logo.png" alt="" width="30px" />Agregar
          Doctor
        </p>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="form-floating m-2 inputForm">
          <input
            type="text"
            class="form-control border-secondary"
            id="nombres"
            placeholder="juan"
            name="nombre"
            required
          />
          <label for="nombre">Nombres</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="text"
            class="form-control border-secondary"
            id="apellidos"
            placeholder="Perez"
            name="apellido"
            required
          />
          <label for="apellido">Apellidos</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="date"
            class="form-control border-secondary"
            id="fecha_nac"
            name="fecha_nac"
            required
          />
          <label for="fecha">Fecha de Nacimiento</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="number"
            class="form-control border-secondary"
            id="dni"
            placeholder=""
            name="dni"
            required
          />
          <label for="dni">DNI</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="text"
            class="form-control border-secondary"
            id="direccion"
            placeholder="mz 71 cs 30"
            name="direccion"
            required
          />
          <label for="direccion">Direcci칩n</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="number"
            class="form-control border-secondary"
            id="telefono"
            placeholder="3704332211"
            name="telefono"
            required
          />
          <label for="telefono">Telef칩no</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <select
            name="sexo"
            id="sexo"
            class="form-select border-secondary"
            aria-label="Sexos"
            required
          >
            <option value="#">Elegir el Sexo</option>
            <option value="1">Masculino</option>
            <option value="2">Femenino</option>
            <option value="3">Otros</option>
          </select>
        </div>

        <div class="form-floating m-2 inputForm">
          <select
            name="especialidad"
            id="especialidad"
            class="form-select border-secondary"
            aria-label="Especialidad"
            required
          >
            <option value="#">Seleccione Especialidad</option>
            <option value="1">Cardiologo</option>
          </select>
        </div>
      </div>

      <div class="m-2 fw-bold d-flex justify-content-center border-bottom">
        <p class="fs-5">Cuenta</p>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
        <div class="form-floating m-2 inputForm">
          <input
            type="text"
            class="form-control border-secondary"
            id="nombre_usuario"
            placeholder="3704332211"
            name="nombre_usuario"
            required
          />
          <label for="nombre_usuario">Nombre de Usuario</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="email"
            class="form-control border-secondary"
            id="email"
            placeholder="example@gmail.com"
            name="email"
            required
          />
          <label for="email">Email</label>
        </div>
        <div class="form-floating m-2 inputForm">
          <input
            type="password"
            class="form-control border-secondary"
            id="password"
            placeholder="3704332211"
            name="password"
            required
          />
          <label for="password">Contrase침a</label>
        </div>

        <div class="form-floating m-2 inputForm mb-5">
          <input
            type="password"
            class="form-control border-secondary"
            id="confirmPassword"
            placeholder="3704332211"
            name="confirmPassword"
            required
          />
          <label for="confirmPassword">Confirmar Contrase침a</label>
        </div>

        <hr class="my-4" />
      </div>
      <div class="d-flex justify-content-center">
        <a href="/lista_doctores" class="btn btn-lg btn-secondary mx-2"
          >Volver</a
        >

        <button class="btn btn-lg btn-primary mx-2" type="submit">
          Confirmar
        </button>
      </div>
    </form>
  </div>
</section>

<script src="/js/pantalla_principal.js"></script>
<script src="/js/administrador/doctor/crear_doctor.js"></script>

<%- include("../../partials/admin/footer_admin.ejs") -%>
