<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pantalla_principal.css" />
    <link rel="stylesheet" href="/styles/estilo_tablas.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Administradores</title>
  </head>

  <body style="background-color: rgb(238, 241, 255)" class="pb-1">
    <button class="burger" type="button" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
      <i class="fa-solid fa-close"></i>
    </button>

    <aside>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item py-3">
          <a
            href="/doctor"
            class="d-flex align-items-center text-white text-decoration-none border-bottom py-2"
          >
            <img
              src="/img/inicio_sesion/logo.png"
              alt="logo.png"
              width="70px"
            />
            <span class="fs-4">San Antonio</span>
          </a>
        </li>
        <li class="nav-item py-1">
          <a
            href="/doctor/turnos/dia"
            class="nav-link text-white"
            aria-current="page"
          >
            <i class="fa fa-wheelchair mx-1" aria-hidden="true"></i>
            Turnos del Día
          </a>
        </li>
        <li class="nav-item py-1">
          <a
            href="/doctor/turnos/completo"
            class="nav-link text-white"
            aria-current="page"
          >
            <i class="fa fa-wheelchair-alt mx-1" aria-hidden="true"></i>
            Todos los turnos
          </a>
        </li>
        <li class="nav-item text-center">
          <a href="/" class="text-white btn btn-primary"> Cerrar Sesion </a>
        </li>
      </ul>
    </aside>

    <main class="container-fluid m-0 p-0">
      <div class="d-flex">
        <nav
          class="responsive"
          style="
            background: linear-gradient(
              100deg,
              rgba(4, 0, 61, 0.945),
              70%,
              rgba(0, 0, 138, 0.9)
            );
          "
        >
          <div
            class="d-flex flex-column flex-shrink-0 px-3"
            style="width: 240px; height: 100vh; display: none"
          >
            <a
              href="/doctor"
              class="d-flex align-items-center text-white text-decoration-none border-bottom py-2"
            >
              <img
                src="/img/inicio_sesion/logo.png"
                alt="logo.png"
                width="70px"
              />
              <span class="fs-4">San Antonio</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item py-1">
                <a
                  href="/doctor/turnos/dia"
                  class="nav-link text-white"
                  aria-current="page"
                >
                  <i class="fa fa-wheelchair mx-1" aria-hidden="true"></i>
                  Turnos del Día
                </a>
              </li>
              <li class="nav-item py-1">
                <a
                  href="/doctor/turnos/completo"
                  class="nav-link text-white"
                  aria-current="page"
                >
                  <i class="fa fa-wheelchair-alt mx-1" aria-hidden="true"></i>
                  Todos los turnos
                </a>
              </li>

              <li class="nav-item text-center">
                <a href="/" class="text-white btn btn-primary">
                  Cerrar Sesion
                </a>
              </li>
            </ul>
          </div>
        </nav>
