<%- include("../partials/admin/header_administrador.ejs") -%>

<section class="w-100" >
  <div class="p-5 fw-bold fs-5 text-white" style="height: 1px; background: rgb(0, 4, 41)"><%= user %></div>

  <div class="px-5">
    <h3 class="fw-bold my-5" style="font-family:Georgia, 'Times New Roman', Times, serif">Navegación de Pantallas</h3>
    <div class="row">
      <div class="col-sm-6 mb-6 mb-sm-0">
        <div class="card m-2 shadow rounded border">
          <img
            src="/img/admin/pacientes.png"
            alt=""
            width="80px"
            style="position: absolute; top: -20px"
          />
          <a href="/doctor/turnos/dia" class="btn">
            <div class="card-body">
              <p class="card-title text-center">
                Listado de Turnos del día
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card m-2 shadow rounded border">
          <img
            src="/img/admin/doctores.png"
            alt=""
            width="160px"
            style="position: absolute; top: -20px; left: -50px"
          />
          <a href="/doctor/turnos/completo" class="btn">
            <div class="card-body">
              <p class="card-title text-center">
                Listado de Turnos Completo
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="js/pantalla_principal.js"></script>

<%- include("../partials/admin/footer_admin.ejs") -%>
