<%- include("partials/header_principal.ejs") -%>

  <main>
    <section class="container-fluid fondo">
      <div class="fondo2">
        <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-3">
            <section class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3 text-light">
                Centro de Atención San Antonio
              </h1>
              <p class="lead text-light">
                Te damos la bienvenida a nuestra aplicación web. Estamos
                mejorando constantemente la eficacia para su usabilidad
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/login">
                  <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
                    Iniciar Sesión
                  </button>
                </a>
                <a href="/register">
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4 text-light">
                    Registrarse
                  </button>
                </a>
              </div>
            </section>
            <section class="col-10 col-sm-8 col-lg-6 rounded mt-3">
              <img src="img/inicio_sesion/img1.png" class="d-block mx-lg-auto img-fluid"
                alt="Bootstrap Themes" width="400" height="200" loading="lazy" />
            </section>
          </div>
          <svg class="mb-2" style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>
          <p class="" style="color: #fff;">Tel: 0810-222-333</p>
          <svg style="color: #fff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg>
          <p class="" style="color: #fff;">Horarios: Lunes a Domingos - 7:00hs a 19:00hs</p>
        </div>
      </div>
    </section>

    <article class="container px-4 py-5 border-bottom">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <img src="img/inicio_sesion/TURNOS.png" alt="" width="50px">
            </svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Solicitación de Turnos</h3>
            <p>
              En la aplicación web tendrá la posibilidad de solicitar un turno de manera más sencilla
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <img src="img/inicio_sesion/historial-turnos.png" alt="" width="60px">
            </svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Historial de Turnos</h3>
            <p>
              Le brindará la posibilidad de poder acceder hacia su historial de turnos junto a las devoluciones hechas
              por los doctores
            </p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em">
              <img src="img/inicio_sesion/turnos-programados.png" alt="" width="70px">
            </svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Turnos programados</h3>
            <p>
              Al estar registrado y haber sacado un turno, le llegará una notificación a su correo electrónico sobre el
              turno programado al llegar la fecha de la atención
            </p>
          </div>
        </div>
      </div>
    </article>
  </main>
  

  <%- include("partials/footer_principal.ejs") -%>