<%- include("partials/header_principal.ejs") -%>

<main class="fondo">
  <div class="fondo2 d-flex justify-content-center align-items-center">
    <div class="container d-flex flex-wrap m-auto justify-content-center">
      <div
        class="container height-100 d-flex justify-content-center align-items-center"
      >
        <a href="/paciente">
          <div class="card">
            <div class="clip-path">
              <h2>Paciente</h2>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="container d-flex flex-wrap m-auto justify-content-center">
      <div
        class="container height-100 d-flex justify-content-center align-items-center"
      >
        <a href="/doctor">
          <div class="card">
            <div class="clip-path">
              <h2>Doctor</h2>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="container d-flex flex-wrap m-auto justify-content-center">
      <div
        class="container height-100 d-flex justify-content-center align-items-center"
      >
        <a href="/administrador">
          <div class="card">
            <div class="clip-path">
              <h2>Administrador</h2>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer_principal.ejs") -%>
