<%- include("partials/header_principal.ejs") -%>


<main class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="d-flex-column justify-content-center align-items-center">
    <h1>Centro de Atención</h1>
    <br>
    <a href="/paciente" class="btn btn-danger">Paciente</a>
    <a href="/doctor" class="btn btn-primary">Doctor</a>
    <a href="/administrador" class="btn btn-info">Administrador</a>
  </div>
</main>

<%- include("partials/footer_principal.ejs") -%>
