<%- include("../../partials/admin/header_administrador.ejs") -%>

<section class="w-100" style="background-color: rgb(240, 240, 240)">
  <div
    class="p-5 text-white"
    style="height: 1px; background: rgb(0, 4, 41)"
  >
    Listado de Pacientes Completos
  </div>

  <div
    class="my-3 shadow p-3 m-5 bg-body rounded border d-flex justify-content-between"
  >
    <a href="/crear_paciente" class="btn btn-primary text-light"
      >Agregar Paciente</a
    >
    <form id="buscador">
      <div class="d-flex">
        <input
          type="text"
          class="form-control"
          id="dniInput"
          placeholder="DNI"
        />
        <button class="btn btn-secondary">Buscar</button>
      </div>
    </form>
  </div>

  <div class="main-table shadow m-5 bg-body rounded border">
    <table class="table table-striped rounded text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">DNI</th>
          <th scope="col">Nombre y Apellido</th>
          <th scope="col" colspan="2">Funciones</th>
        </tr>
      </thead>
      <tbody
        class="d-flex-reverse align-items-center justify-content-center"
        id="listaPacientes"
      ></tbody>
    </table>
  </div>
</section>
<script src="js/pantalla_principal.js"></script>
<script src="js/administrador/paciente/lista_pacientes_completos.js"></script>

<%- include("../../partials/admin/footer_admin.ejs") -%>
