*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header img{
    width: 60px;
    margin-right: 20px;
}

.fondo_principal{
    background-color: #f0f0f0;
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: linear-gradient(100deg, rgba(2, 0, 31, 0.945), 70%, rgba(0, 0, 87, 0.9));
    color: #fff;
}


/* Estilos de la Hamburguesa */
.burger{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    display: grid;
    place-items: center;
    width: 82px;
    height: 82px;
    font-size: 30px;
    color: #f9f9f9;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.burger i:last-child{
    display: none;
}

body.open .burger i:first-child {
    display: none;
}

body.open .burger i:last-child {
    display: block;
}

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(27 32 44 / 70%);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .overlay{
    visibility: visible;
    opacity: 1;
}

aside{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    padding: 20px;
    background: linear-gradient(100deg, rgb(2, 0, 31), 70%, rgb(0, 0, 87));
    box-shadow: 0 0 20px rgb(0 0 0 / 70%);
    translate: 100% 0;
    transition: 0.3s;
}

body.open aside{
    translate: 0;
}

aside a{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}

aside button{
    background: linear-gradient(-60deg, #8700ff, #ff009e);
    color: #f7f7f7;
    border: 0;
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
    margin-top: 20px;
}



.fondo-color{
    background: linear-gradient(100deg, rgb(3, 0, 48), 70%, rgb(3, 0, 48));
    cursor: pointer;
}

