<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"  content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="resources/styles/pantalla_principal.css" />
    <link rel="stylesheet" href="resources/styles/estilo_tablas.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <title>Crear Doctores - Admin</title>
  </head>

  <body>
    <button class="burger" type="button" onclick="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
      <i class="fa-solid fa-close"></i>
    </button>

    <aside>
      <a href="#">Inicio</a>
      <a href="#">Solicitud de turno</a>
      <a href="#">Lista de turnos</a>
      <a href="#">Historia Clínica</a>
      <a href="#">Historial de turnos</a>
      <a href="/logout">Cerrar Sesion</a>
    </aside>

    <main class="container-fluid m-0 p-0">
      <div class="d-flex">
        <nav
          style="
            background: linear-gradient(
              100deg,
              rgba(2, 0, 31, 0.945),
              70%,
              rgba(0, 0, 87, 0.9)
            );
          "
        >
          <div
            class="d-flex flex-column flex-shrink-0 p-3"
            style="width: 280px; height: 100vh"
          >
            <a
              href="/"
              class="d-flex align-items-center mb-3 me-md-auto text-white text-decoration-none border-bottom"
            >
              <img
                src="resources/img/inicio_sesion/logo.png"
                alt="logo.png"
                width="70px"
              />
              <span class="fs-4">San Antonio</span>
            </a>
            <hr />
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page">
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                  </svg>
                  Agregar Paciente
                </a>
              </li>

              <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                  </svg>
                  Buscar Paciente
                </a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link" aria-current="page">
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                  </svg>
                  Agregar Doctor
                </a>
              </li>

              <li>
                <a href="#" class="nav-link text-white">
                  <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                  </svg>
                  Buscar Doctor
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <section class="w-100 d-flex flex-column align-items-center" style="background: rgb(236, 236, 236)">
          <div
            class="p-5 w-100"
            style="height: 1px; background: rgb(165, 173, 248)"
          ></div>
          <div class="container2" >
            <header>Registrar Doctor</header>
            <form action="/accion_crear_doctor" method="post" class="form">
              <div class="column">
                <div class="input-box">
                  <label>Nombre</label>
                  <input type="text" name="nombre" id="nombre" required />
                </div>
                <div class="input-box">
                  <label>Apellido</label>
                  <input type="text" name="apellido" id="apellido" required />
                </div>
                <div class="input-box">
                  <label>Fecha de Nacimiento</label>
                  <input type="date" name="fecha_nac" id="fecha_nac" required />
                </div>
              </div>
              <div class="column">
                <div class="input-box">
                  <label>DNI</label>
                  <input type="number" name="dni" required />
                </div>
                <div class="input-box">
                  <label>Dirección</label>
                  <input type="text" name="direccion" required />
                </div>
                <div class="input-box">
                  <label>Email</label>
                  <input type="email" name="email" required />
                </div>
                <div class="input-box">
                  <label>Telefono</label>
                  <input type="number" name="telefono" required />
                </div>
              </div>
              <div class="radio m-3">
                <label for="radio">Sexo</label>
                <br />
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sexo"
                    id="sexo1"
                    value="1"
                    required
                  />
                  <label class="form-check-label" for="sexo1">
                    Masculino
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sexo"
                    id="sexo2"
                    value="2"
                    checked
                  />
                  <label class="form-check-label" for="sexo2">
                    Femenino
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="sexo"
                    id="sexo3"
                    value="3"
                    checked
                  />
                  <label class="form-check-label" for="sexo3">
                    Otros
                  </label>
                </div>
              </div>
              <div class="radio m-3">
                <label for="radio">Especialidad</label>
                <br />
                <div class="gender-box">
                    <select
                      name="especialidad"
                      id="especialidad"
                      class="form-select border-secondary"
                      aria-label="especialidad"
                      required
                    >
                      <option value="#">------</option>
                      <option value="1">Cardiólogo</option>
                      <option value="2">Oftalmólogo</option>
                      <option value="3">Pediatra</option>
                      <option value="4">Endocrinólogo</option>
                      <option value="5">Ortopedista</option>
                      <option value="6">Otorrinolaringólogo</option>
                      <option value="7">Ginecólogo</option>
                     
                    </select>
                  </div>
                
              </div>
              <div class="gender-box">
                <h3><b>Datos de la cuenta</b></h3>
                <div class="column">
                    <div class="input-box">
                      <label>Nombre de Usuario</label>
                      <input type="text" name="nombre_usuario" required />
                    </div>
                    <div class="input-box">
                      <label>Contraseña</label>
                      <input type="password" name="password" required />
                    </div>
                   
                  </div>
              </div>
              <button>Agregar Doctor</button>
            </form>
          </div>
        </section>
      </div>
    </main>

    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top"
      >
        <span class="mb-md-0 text-body-secondary text-center"
          >© 2023 San Antonio, Centro de Atención</span
        >
      </footer>
    </div>

    <script src="resources/js/pantalla_principal.js"></script>

    <script
      src="https://kit.fontawesome.com/553a1bb38c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
