<%- include("../partials/admin/header_administrador.ejs") -%>
<!-- Agrega Select2 CSS -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
  rel="stylesheet"
/>
<!-- Agrega jQuery (Select2 depende de jQuery) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Agrega Select2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<section class="w-100" style="background-color: rgb(240, 240, 240)">
  <div class="p-5" style="height: 1px; background: rgb(0, 4, 41)"></div>

  <div class="container px-4 py-1">
    <form class="p-1 p-md-4" id="formNuevoTurno" data-id="<%= id %>">
      <div class="m-2 fw-bold d-flex justify-content-center border-bottom">
        <p class="fs-5">
          <img src="/img/inicio_sesion/logo.png" alt="" width="30px" />Agregar
          Turno
        </p>
      </div>

      <div class="d-flex flex-column align-items-center">
        <select
          class="mi-select w-100"
          name="formBuscadorPaciente"
          aria-label="Default select example"
          id="paciente_id"
        >
          <option value="1" selected>Selecciona al paciente</option>
        </select>
        <hr class="my-4" />
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-lg btn-primary mx-2" type="submit">
          Confirmar
        </button>
      </div>
    </form>
  </div>
</section>

<script src="/js/pantalla_principal.js"></script>
<script src="/js/administrador/crear_turno.js"></script>

<%- include("../partials/admin/footer_admin.ejs") -%>
