<%- include("../partials/header_paciente.ejs") -%>

  <section class="w-100" style="background-color: rgb(240, 240, 240)">
    <div class="p-5 fs-5 text-white fw-bold" style="height: 1px; background: rgb(0, 4, 41)">
      Devoluciones
    </div>

    <div class="my-3 shadow p-3 m-5 bg-body rounded border d-flex justify-content-between">
      <a href="/paciente/historial" class="btn btn-success text-light">Volver</a>
      <button id="imprimirBtn" class="btn btn-sm btn-primary m-1">
        Imprimir
      </button>
    </div>

    <div class="m-5 d-flex flex-wrap justify-content-center main-table" id="listaDevolucion" data-id="<%= idTurno %>">
    </div>
  </section>

  <script src="/js/pantalla_principal.js"></script>
  <script src="/js/pacientes/ver_devolucion.js"></script>
  <script src="/js/script.js"></script>

  <%- include("../partials/admin/footer_admin.ejs") -%>